.text {
    padding-bottom: 1em;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
}

.image {
    width: 275px;
}

.contact {
    font-family: 'Josefin Sans', sans-serif;
}

.contact > span {
    font-weight: 600;
}