.navbar {
    padding: 0 .5rem;
    background-color:#fff5e5;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.navbar-brand {
    padding-top: .5rem;
}

.navbar-item > a {
    color: black;
}