.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}
  
.overlay-text {
    color: black;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.project-heading {
    margin: 0 auto;
}

.project-name {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.description {
    font-size: 1rem;
}

.overlay-hr {
    color: black;
    border: 1px solid rgb(241, 136, 194);
    width: 45%;
    margin: 10px auto;
}

.technology {
    font-size: 1rem;
}

.details {
    padding: .5rem;
    color: black;
    font-weight: 400;
}

.details > a {
    color: black;
}

.details > a:hover {
    font-weight: 600;
}

@media screen and (max-width: 400px) {
    .overlay {
        display: none;
    }
}
