.container {
    position: relative;
}

#one:hover .overlay {
    opacity: 1;
}

#two:hover .overlay {
    opacity: 1;
}

#three:hover .overlay {
    opacity: 1;
}

.project-photo {
    width: 45vw;
    margin: 2.5rem auto 1.5rem;
    border-radius: 50px;
}